<div *ngIf="tv" class="container">
  <!-- Div do anúncio (esquerda) -->
  <div *ngIf="tv.vimeoLink" class="ad">
    <iframe
    id="ad"
      [src]="sanitizeUrl(tv.vimeoLink + '?autoplay=1&loop=1')"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  <!-- Div do vídeo (direita) -->
  <div *ngIf="tv.youtubeLink" class="tv">
    <iframe
      id="youtube-player"
      src="https://pluto.tv/br/live-tv/5f32d2db0af67400077f29c4"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <app-tvs-info></app-tvs-info>
  </div>
</div>

<div *ngIf="!tv">
  <p>Carregando dados da TV...</p>
</div>
