<div *ngIf="tv" class="container">
  <!-- Div do anúncio (esquerda) -->
  <div class="ad">
    <video *ngIf="showVideo" #videoPlayer autoplay loop muted controls>
      <source src="../../../../assets/videos/anuncio_3 (540p).mp4" type="video/mp4">
    </video>
  </div>

  <!-- Div do vídeo (direita) -->
  <div *ngIf="tv.youtubeLink" class="tv">
    <iframe
      id="youtube-player"
      [src]="sanitizeUrl(tv.youtubeLink + '?autoplay=1&loop=0&controls=0')"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <app-tvs-info></app-tvs-info>
  </div>
</div>

<div *ngIf="!tv">
  <p>Carregando dados da TV...</p>
</div>
