<div class="container" id="screenContainer">
  <div class="tv">
    <iframe
      src="https://www.youtube.com/embed/kQj2KZHrjzc?si=_W6P-tLediA3xdrk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
  <div class="ad">
    <iframe
      src="https://player.vimeo.com/video/1047889050?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479"
      width="1080"
      height="1920"
      frameborder="0"
      allow="autoplay; fullscreen; picture-in-picture; clipboard-write; encrypted-media"
      title="Anuncio"
    ></iframe>

    <button class="fullscreen-btn" (click)="toggleFullscreen()">
      🔳 Tela Cheia
    </button>
  </div>
</div>
