/* Container principal */
.cliente-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f4f8, #e3f2fd);
  padding: 50px 15px;
  font-family: 'Arial', sans-serif;
}

/* Conteúdo principal do dashboard */
.dashboard-content {
  width: 100%;

  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Mensagem de boas-vindas */
.welcome-message {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  margin-bottom: 20px;
}

.welcome-message h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.welcome-message p {
  font-size: 16px;
  margin-bottom: 20px;
}

.welcome-message .btn {
  background-color: #2980b9;
  padding: 12px 25px;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.welcome-message .btn:hover {
  background-color: #3498db;
}

/* Mensagem de Status */
.status-message {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.status-message.success {
  background-color: #eafaf1;
  color: #2ecc71;
}

.status-message.error {
  background-color: #f8d7da;
  color: #e74c3c;
}

/* Container de Carregamento */
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #7f8c8d;
  height: 100px;
}

/* Mensagem sem Totens ou TVs */
.no-totens-message {
  font-size: 18px;
  color: #bdc3c7;
  text-align: center;
  margin-top: 40px;
}

/* Efeitos de Hover para Botões */
button {
  transition: transform 0.2s, background-color 0.3s;
}

button:hover {
  transform: scale(1.05);
}

/* Estilo do Rodapé */
app-footer {
  padding: 30px 0;
  background-color: #34495e;
  color: white;
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}

/* Responsividade */
@media (max-width: 768px) {
  .dashboard-content {
    padding: 20px;
  }

  .welcome-message {
    padding: 20px;
  }

  .welcome-message h1 {
    font-size: 28px;
  }

  .welcome-message p {
    font-size: 14px;
  }

  .status-message {
    font-size: 14px;
  }

  .loading-container {
    font-size: 16px;
  }

  .no-totens-message {
    font-size: 16px;
  }
}
