
.tv-info-container {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.info-header {
  text-align: center;
}

.custom-font {
  font-family: 'Arial', sans-serif; /* Altere para a fonte desejada */
  font-size: 30px; /* Altere para o tamanho desejado */
  color: white; /* Altere para a cor desejada */
  text-transform: uppercase;
}


.info-carousel {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  color: white;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scrollText 10s linear infinite;
}

.carousel-item {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 50px;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scrollText {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



.fullscreen-btn {
  margin-left: auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition: background 0.3s;
  background-color: black;
}



