.tv-info-container {
  height: 25%;
  margin-top: 0;
  color: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-header {
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}

.custom-font {
  font-family: 'Arial', sans-serif; /* Altere para a fonte desejada */
  font-size: 32px; /* Altere para o tamanho desejado */
  color: white; /* Altere para a cor desejada */
  text-transform: uppercase;
}


.info-carousel {
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.carousel-item {
  animation: scroll 4s linear infinite;
}

@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
