<div *ngIf="loading" class="loading-message">Carregando TVs...</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

<!-- Botão para adicionar TV -->
<button class="add-tv-button" (click)="showAddForm()">Adicionar TV</button>

<!-- Lista de TVs em cards -->
<div *ngIf="!loading && tvs.length" class="tv-list">
  <div *ngFor="let tv of tvs" class="tv-card">
    <div class="id-status">
      <h3>TV #{{ tv._id }}</h3>
      <p>
        <strong></strong>
        <span [ngClass]="{ online: tv.status, offline: !tv.status }">
          {{ tv.status ? "🟢 Online" : "🔴 Offline" }}
        </span>
      </p>
    </div>

    <div class="tv-details">
      <p><strong>YouTube:</strong> {{ tv.youtubeLink || "N/A" }}</p>
      <p><strong>Endereço:</strong> {{ tv.address }}</p>
    </div>

    <div class="tv-actions">
      <button (click)="editTv(tv)" title="Editar">
        <i class="fas fa-edit"></i>
        <P>Editar</P>
      </button>
      <button (click)="navigateTo('view-tv', tv._id)">Tela com TV</button>
      <button (click)="navigateTo('ad-full', tv._id)">Tela Anuncios</button>
      <button (click)="deleteTv(tv._id)" title="Excluir">
        <i class="fas fa-trash-alt"></i>
      </button>
    </div>
  </div>
</div>



<!-- Mensagem caso não haja TVs -->
<p *ngIf="!loading && tvs.length === 0" class="no-tvs-message">
  Nenhuma TV encontrada para este usuário.
</p>

<!-- Modal para adicionar/editar TV -->
<div *ngIf="showAddTvForm" class="modal-overlay">
  <div class="modal">
    <h2>{{ tvToEdit ? "Editar TV" : "Adicionar TV" }}</h2>
    <form (ngSubmit)="saveTv()">
      <div class="form-group">
        <label for="youtubeLink">Link do YouTube:</label>
        <input
          id="youtubeLink"
          [(ngModel)]="newTv.youtubeLink"
          name="youtubeLink"
        />
      </div>
      <div class="form-group">
        <label for="address">Endereço:</label>
        <input
          id="address"
          [(ngModel)]="newTv.address"
          name="address"
          required
        />
      </div>
      <div class="form-actions">
        <button type="submit">Salvar</button>
        <button type="button" (click)="resetForm()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
